@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #3b82f6;
  color: white;
}

.dark ::selection {
  background-color: #2563eb;
}
